       body{
        background-color: #f2f2f2;
       font-family: sans-serif;
       
      }
      .site-title{
       
        color: #d764aec2;
      }
      .selected-country{
        height: 50px;
        width: 18rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 5px 3px lightslategray;
        border-radius: 0;
        color: #00000080;
        
      }
      .card{
       transition:box-shadow .5s;
       /*border:none;*/
       /*box-shadow: 1px 1px 6px 1px gray;*/
     }
     .card:hover,
     .box-shadow{
      /*background-color: royalblue;*/
      box-shadow: 2px 1px 5px 3px lightslategray;
    }
    .card-body{
      padding: 5px;
    }
    .media-body{
      text-align: left;
      color: #00000080;
    }
    .media img{
      border-radius: 50%;
    }
    .media-body p{
      font-size: 12px;
    }
    .media-body h5{
      color: #000;
    }
   
    a:hover{
      text-decoration: none;
      color: #00000080;
    }

    .bth-btn{
      background-color: #fff;
      color: #6c757d;
      border:2px solid #007bff ;
      border-radius: 30px;
    }
    .animationClass{
     animation: 1s ease-out 0s 1 slideInFromLeft;
   }
   @keyframes slideInFromLeft {
    0% {
      transform: rotateX(180deg);
    }
    100% {
      transform: rotateX(0);
    }
  }
  .QRCodeAnimationClass{
   animation: 1s ease-out 0s 1 slideInFromTop;
 }
 @keyframes slideInFromTop {
  0% {
    transform: rotateY(180deg);;
  }
  100% {
    transform: rotateY(0);
  }
}


.left-text{
  float: left;
}
.right-text{
  float: right;
}

.feedback-btn{
  background: none;
  border-radius: 20px;
  color: #0062cc;
}




 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .QR-card{
    width: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.QR-card{
    width: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.QR-card{
    width: 22rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 